/*/Color Palette/*/
:root{
    --main-color: #F72585;
    --main-color2: #4CC9F0;
    --secondary-color: #B5179E;
    --secondary-color2: #4895EF;
    --third-color: #7209B7;
    --third-color2: #4361EE;
    --fourth-color: #560BAD;
    --fourth-color2: #3F37C9;
    --middle-color: #480CA8;
    --middle-color2: #3A0CA3;
}
/*/Fonts/*/
*{  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
/*/Body Configuration/*/
body{
    background: var(--secondary-color2);
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2vh;
}
/*/scroll-bar/*/
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
body{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
/*/Navigation Bar/*/
.nav-bar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background: var(--third-color2);
}
.nav-bar-small-logo-holder{
    display: flex;
}
.nav-bar-small-logo{
    align-self: center;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    margin-left: 1vw;
}
/*/Nav - ul/*/
.nav-bar-button-holder,.nav-bar-small-screen-buttons-holder a{
    display: flex;
    width: auto;
    gap: 1vw;
    height: 10vh;
}
/*/Nav - a/*/
.nav-bar-button-holder a,.nav-bar-small-screen-buttons-holder a{
    align-self: center;
}
.nav-bar-small-screen{
    display: none;
}
    /*/Nav - space - Div/*/
    .nav-space-a{
        width:1px;
        height: 6vh;
        background:var(--secondary-color2);
    }
    /*/Nav - Links/*/
    .nav-bar-button-holder a{
        font-size: 3vh;
        text-decoration: none;
    }
    /*/Nav - Login / Register/*/
    .nav-signup-box a{margin: 0px 10px;}
    .nav-signup-box{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 5vh;
        width: auto;
        border-radius: 8px;
        background: var(--main-color2);
    }
    .nav-signup-box:hover{
        background: var(--secondary-color2);
    }
/*/Start of Website/*/
.Div-Start-of-Website{
    margin-top: 13vh;
    align-self: center;
    width: 50vw;
    height: 85vh;
    background:var(--third-color);
}
/*/Scroll-down-arrow/*/
@keyframes down-arrow-anim{
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
/*/2nd page - About Me/*/
.Div-About-Me{
    align-self: center;
    height: 90vh;
    width: 100vw;
    background: var(--fourth-color2);
}
/*/Responsive/*/
@media only screen and (max-width:700px){
    /*/Nav - Icon/*/
    .nav-bar-button-holder{
        margin-right: 2vw;
    }
    .nav-bar-small-screen{
        display: flex;
    }
    .nav-closeopen-icon{
        position: relative;
        border: none;
        display: flex;
        align-self: center;
        z-index: 999;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        background: var(--secondary-color);
        border-radius: 7px;
        height: 5vh;
        width: 50px;
        margin-right: -2vh;
    }
    .nav-bar-button-holder{
        display: none;
    }
    .nav-closeopen-icon div{
        width: 25px;
        height: 3px;
        background: var(--fourth-color);
        border-radius: 5px;
    }
    .nav-bar-small-screen-buttons-holder a{
        width: auto;
        text-decoration: none;
        height: 5vh;
        font-size: 4vh;
        text-align: center;
    } 
    .nav-bar-small-screen-buttons-holder{
        justify-content: center;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 60vw;
        height: 100vh;
        margin-right: -60vw;
        background: var(--secondary-color);
    }
    .nav-space-b{
        height: 1px;
        width: 35vw;
        align-self: center;
        background: var(--main-color2);
    }
    .play-open-anim{
        animation: open-icon-anim 0.5s 1;
    }
    .opened-nav{
        margin-right: 0vw;
    }
    .play-close-anim{
        animation: close-icon-anim 0.5s 1;
    }
    .closed-nav{
        margin-right: -60vw;
    }
    @keyframes open-icon-anim{
        from{
            margin-right: -60vw;
        }
        to{
            margin-right: 0vw;
        }
    }
    @keyframes close-icon-anim{
        from{
            margin-right: 0vw;
        }
        to{
            margin-right: -60vw;
        }
    }
}

